<form method="GET" action="/" id="category-form">
  <select id="category-list" name="category" class="form-control col-5 m-auto">
    <option value="" disabled selected>類別</option>
    <option value="-1">全部</option>
    {{#each categoryArray}}
    <option value="{{ this._id }}" {{displayDefaultOption @root.currentCategoryItem._id this._id}}>{{ this.name }}
    </option>
    {{/each}}
  </select>
</form>

<div class="text-center my-2">
  <span class="totalAmount-title">總金額：</span>
  <span class="totalAmount">{{ totalAmount }}</span>
</div>


<ul class="list-group mb-2 expense-list">
  {{#each records}}
  <div class="row mb-2">
    <li class="list-group-item col-md-8 col-sm-12 col-10 m-auto expense-list-item">

      <div class="d-flex justify-content-between align-items-center row">
        <div class="col-6">
          <i class="{{ this.icon }}"></i>
          <div class="d-inline-flex flex-column" style="vertical-align: middle;">
            <h3>{{ this.name }}</h3>
            <span>{{ this.date }}</span>
          </div>
        </div>

        <div class="col-6 d-flex justify-content-end align-items-center">
          <span class="mr-4">{{ this.amount }}</span>
          <a class="btn btn-info mr-2" href="/expenses/{{ this._id }}/edit">修改</a>


          <form action="/expenses/{{ this._id }}?_method=DELETE" method="post" class="delete-form"
            data-name="{{this.name}}">
            <button type="submit" class="btn btn-danger">刪除</button>
          </form>
        </div>
      </div>


    </li>
  </div>
  {{/each}}

</ul>

<div class="row">
  <div class="col-12 col-md-5 m-auto">
    <a class="btn btn-primary btn-block" href="/expenses/create">新增</a>
  </div>
</div>


<script src="/javascripts/expenseTracker.js"></script>